body {
  margin: 48px auto;
  padding: 0 18px;
  font: 16px/1.6 system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  color: #111;
  background: #fff;
}

h1 {
  font-size: 40px;
  margin: 0 0 8px;
  font-weight: 700;
}

.profile {
  width: 240px;        /* change size */
  margin-bottom: 20px;
}


.cv-item {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.cv-year {
  color: #666;
  white-space: nowrap;
  margin-left: 20px;
}


.sub { color: #666; }

nav a {
  display: block;
  margin: 8px 0;
  font-size: 18px;
  text-decoration: none;
  color: #800020;
}

nav a:hover {
  color: #a63a50;
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid #e6e6e6;
}

/* nice “subtitle” headings */
.pub-section{
  font-size: 18px;
  font-weight: 700;     /* bold */
  margin: 28px 0 10px;
}

/* lists */
.pub-list{
  list-style: none;
  padding-left: 0;
  margin: 0 0 18px;
}

.pub-list li{
  margin: 10px 0;
}

/* small text */
.coauthors, .year, .note{
  color: #666;
  font-size: 14px;
  margin-left: 6px;
}

a {
  color: #800020;
  text-decoration: none;
}

a:hover {
  color: #a63a50;
  text-decoration: underline;
}


.small { color: #666; font-size: 14px; }
html { scroll-behavior: smooth; }

/* layout */
.layout {
  display: flex;
  max-width: 1200px;   
  margin: 48px auto;
  padding: 0 20px;
}

/* left column */
.sidebar { 
  width: 320px;
  margin-right: 80px;
  position: sticky;
  top: 40px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;   /* centers items horizontally */
  text-align: center;    /* centers text */
}

.sidebar h1 {
  font-size: 32px;   /* try 24–32px */
  margin-bottom: 6px;
}

/* right column */
.content {
  flex: 1;
}

/* spacing */
section { margin-bottom: 60px; }

/* mobile */
@media (max-width: 700px) {
  .sidebar {
    position: static !important;
    top: auto !important;
  }
}
